<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Simple Tamplate</title>
    <link rel="stylesheet" href="style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div id="header">
        <img class="one" src="./img/Replit.png" alt="replit">
        <h2>Replit</h2>
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <h1 style="color: white;  text-align: center;">Eldorbek Ismoilov</h1> 
        <h4>Short Description.</h4> <br>
        <p>Student of TUIT after named M.al-Khorezmiy. My future profession is Programmer</p> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolorem ducimus dolores molestiae eum fuga
            assumenda nisi velit eos necessitatibus.
        </p> <br>
        <p>     
            <img class="two" src="https://www.flaticon.com/svg/static/icons/svg/179/179328.svg" alt="instagram">
            <img  class="two" src="https://www.flaticon.com/svg/static/icons/svg/179/179319.svg" alt="facebook">
            <img  class="two" src="https://www.flaticon.com/svg/static/icons/svg/906/906377.svg" alt="Telegram">
            <img  class="two" src="https://www.flaticon.com/svg/static/icons/svg/1384/1384060.svg" alt="You Tube">
        </p>
    </div>
    <section>
        <div id="body">
            <h3>My Projects.</h3>
            <p>Here are some of my projects, you may like.</p> <br> <br> <br>
            <table>
                <tr class="styler text-align-center">
                    <td><img class="second" src="https://images.all-free-download.com/images/graphiclarge/office_desktop_items_01_hd_pictures_168477.jpg" alt="office"> <br> <p>Lorem, ipsum dolor sit amet consectetur <br> adipisicing  elit. Mollitia, sapiente.</p></td>  
                    <td><img class="second" src="https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  alt="laptop" > <br> <p> &nbsp &nbsp Lorem ipsum dolor sit amet consectetur <br>  Earum modi sit in animi perferendis ut.</p> </td>
                    <td><img class="second" src="https://ih1.redbubble.net/image.648480081.7534/cposter,small,product,750x1000.2u3.jpg" alt="poicture" height="266px"> <br> <p>Lorem ipsum dolor sit amet consected  <br>  Earum modi sit in animi perferendis ut.</p></td>
                </tr>   
            </table>
            <br>
            <br>
            <br> <br>
            <h3>Contact.</h3>
            <p>Feel free to contact me on my social media.</p> <br>
            <p>     
                <img class="two" src="https://www.flaticon.com/svg/static/icons/svg/179/179328.svg" alt="instagram">
                <img  class="two" src="https://www.flaticon.com/svg/static/icons/svg/179/179319.svg" alt="facebook">
                <img  class="two" src="https://www.flaticon.com/svg/static/icons/svg/906/906377.svg" alt="Telegram">
                <img  class="two" src="https://www.flaticon.com/svg/static/icons/svg/1384/1384060.svg" alt="You Tube">
            </p>
             
        </div>
    </section>
    

    <div id="footer">
        <p style="font-size: 16px;">Designed by Eldorado Ismoilov</p>
        <p style="font-size: 15px;">&copy Zurich 2020</p>
    </div>

</body>

</html>